[user]
	name = Nicolas M.
	email = nicoula@gmail.com
[push]
	default = upstream
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[status]
	showUntrackedFiles = all
